Repository uktrade/platform-tools, pull requests merged in 2024-06, with the labels that each got.

#455 ci: change to non-deprecated github action for release-please
  .github/workflows/create-release.yml
Labels: ci

#457 feat: DBTP-612 allow wildcard in branch names
  dbt_platform_helper/templates/pipelines/codebase/overrides/stack.ts
  dbt_platform_helper/utils/validation.py
  tests/platform_helper/fixtures/pipeline/pipelines-with-invalid-wildcard-branch.yml
  tests/platform_helper/fixtures/pipeline/pipelines-with-valid-wildcard-branch.yml
  tests/platform_helper/test_command_pipeline.py
  tests/platform_helper/utils/test_validation.py
Labels: feat

#449 chore: Add pull request template
  .github/pull_request_template.md
Labels: chore

#465 chore: DBTP-1011 signpost autogenerated files
  dbt_platform_helper/jinja2_tags.py
  dbt_platform_helper/templates/addons/env/addons.parameters.yml
  dbt_platform_helper/templates/addons/env/aurora-postgres.yml
  dbt_platform_helper/templates/addons/env/monitoring.yml
  dbt_platform_helper/templates/addons/env/opensearch.yml
  dbt_platform_helper/templates/addons/env/rds-postgres.yml
  dbt_platform_helper/templates/addons/env/redis-cluster.yml
  dbt_platform_helper/templates/addons/env/s3.yml
  dbt_platform_helper/templates/addons/env/vpc.yml
  dbt_platform_helper/templates/addons/svc/appconfig-ipfilter.yml
  dbt_platform_helper/templates/addons/svc/s3-policy.yml
  dbt_platform_helper/templates/addons/svc/subscription-filter.yml
  dbt_platform_helper/templates/env/manifest.yml
  dbt_platform_helper/templates/pipelines/codebase/manifest.yml
  dbt_platform_helper/templates/pipelines/environments/buildspec.yml
  dbt_platform_helper/templates/pipelines/environments/manifest.yml
  dbt_platform_helper/templates/pipelines/environments/overrides/cfn.patches.yml
  dbt_platform_helper/utils/template.py
  tests/platform_helper/expected_files/pipeline/pipelines/application/manifest-public-repo.yml
  tests/platform_helper/expected_files/pipeline/pipelines/application/manifest.yml
  tests/platform_helper/expected_files/pipeline/pipelines/environments/buildspec.yml
  tests/platform_helper/expected_files/pipeline/pipelines/environments/manifest.yml
  tests/platform_helper/expected_files/pipeline/pipelines/environments/overrides/cfn.patches.yml
Labels: chore
