Repository uktrade/platform-tools, pull requests merged in 2024-02, with the labels that each got.

#326 DBTP-742 No `http.alias` in manifest bugfix
  dbt_copilot_helper/commands/dns.py
  pyproject.toml
  tests/copilot_helper/test_command_dns.py
Labels: bug

#343 ci: Add pull request title validation
  .github/workflows/pull-request-checks.yml
  .github/workflows/quality-checks.yml
Labels: ci

#344 chore: Remove -d / --directory arguments and default param from make_addons
  dbt_copilot_helper/COMMANDS.md
  dbt_copilot_helper/commands/copilot.py
Labels: chore

#339 feat: DBTP-764 Wraps generate + make-addons in a new generate command
  copilot_helper.py
  dbt_copilot_helper/COMMANDS.md
  dbt_copilot_helper/commands/bootstrap.py
  dbt_copilot_helper/commands/generate.py
  dbt_copilot_helper/commands/pipeline.py
  pytest.ini
  tests/copilot_helper/test-application-deploy/.copilot-helper-version
  tests/copilot_helper/test_command_bootstrap.py
  tests/copilot_helper/test_command_generate.py
  tests/copilot_helper/test_copilot_helper.py
Labels: feat
