Repository uktrade/platform-tools, pull requests merged in 2024-04, with the labels that each got.

#384 fix: Ensure deprecation for make_addons is signposted in COMMANDS.md
  dbt_platform_helper/COMMANDS.md
  dbt_platform_helper/commands/copilot.py
Labels: fix

#383 feat: DBTP-778 Slack notification on publish
  poetry.lock
  pyproject.toml
  tests/test_doubles/__init__.py
  tests/test_doubles/webclient.py
  tests/utils/test_check_pypi.py
  tests/utils/test_publish_notifications.py
  utils/check_pypi.py
  utils/notify/__init__.py
  utils/notify/publish_notification.py
Labels: feat

#389 chore: Version bump to 6.2.1
  pyproject.toml
Labels: chore

#392 fix: Restore yml map type
  buildspec.pypi.yml
Labels: fix

#393 chore: Script to publish to pypi decoupled from yml buildspec
  buildspec.pypi.yml
  publish_to_pypi.sh
Labels: chore

#396 chore: platform tools document behaviours around releasing
  README.md
Labels: chore

#403 fix: DBTP-907 Platform helper generate version file
  dbt_platform_helper/commands/bootstrap.py
  dbt_platform_helper/commands/generate.py
  dbt_platform_helper/utils/versioning.py
  tests/platform_helper/test_command_bootstrap.py
  tests/platform_helper/test_command_generate.py
Labels: fix

#411 fix: DPTP-923 Mock function that causes problems in generate tests
  tests/platform_helper/test_command_generate.py
Labels: fix

#414 fix: Use fake file system for create command docs happy path test
  tests/utils/test_create_command_docs.py
Labels: fix
